<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">
                    <img src="%%post_image%%" />
                    <h2>%%title%%</h2>
                    <h3>%%subtitle%%</h3>
                    %%content%%
                </div>
                <div class="single-tags">
                    %%tags%%
                </div>
                <div class="single-bio">
                    <div class="single-bio-img">
                        <img src="/site/img/chris.png" />
                    </div>
                    <div class="single-bio-text">
                        <h3>Christopher Robison</h3>
                        <p>
                            Christopher Robison es un ingeniero de software e innovador tecnológico con sede en San Francisco, con más de 25 años de experiencia en la industria. Especializado en blockchain, IA y robótica, ha construido impresoras 3D personalizadas, liderado transformaciones tecnológicas y creado soluciones digitales impactantes para la biotecnología, las finanzas y más allá. Fuera del trabajo, es un habitual del karaoke de punk rock, entusiasta del golf y un inventor que siempre está construyendo algo nuevo junto a su gato Otis y su perro Yuki.
                        </p>
                    </div>
                </div>
                <div class="single-related">
                    %%related%%
                </div>
                <div class="single-comments">
                    %%comments%%
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="search-widget">
                            <form>
                                <input class="form-control" type="text" placeholder="Search Keyword">
                                <button class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    %%recent_posts%%
                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#">
                                <img src="/site/img/blog-1.jpg" alt="Image of children">
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        %%tabs%%
                    </div>
                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#">
                                <img src="/site/img/blog-2.jpg" alt="Image of children">
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
