<div class="single">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="single-content">
                    <img src="img/single.jpg" />
                    <h2>%%title%%</h2>
                    <h3>%%subtitle%%</h3>
                    %%content%%
                </div>
                <div class="single-tags">
                    %%tags%%
                </div>
                <div class="single-bio">
                    <div class="single-bio-img">
                        <img src="/static/img/chris.png" />
                    </div>
                    <div class="single-bio-text">
                        <h3>Christopher Robison</h3>
                        <p>
                            Christopher Robison is a San Francisco-based software engineer and tech innovator with 25+ years in the industry. Specializing in blockchain, AI, and robotics, he’s built custom 3D printers, led tech transformations, and created impactful digital solutions for biotech, finance, and beyond. Outside of work, he’s a punk rock karaoke regular, golf enthusiast, and a tinkerer who’s always building something new alongside his cat Otis and dog Yuki.
                        </p>
                    </div>
                </div>
                <div class="single-related">
                    %%related%%
                </div>
                <div class="single-comments">
                    %%comments%%
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <div class="sidebar-widget">
                        <div class="search-widget">
                            <form>
                                <input class="form-control" type="text" placeholder="Search Keyword">
                                <button class="btn"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    %%recent_posts%%
                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#">
                                <img src="img/blog-1.jpg" alt="Image of children">
                            </a>
                        </div>
                    </div>
                    <div class="sidebar-widget">
                        %%tabs%%
                    </div>
                    <div class="sidebar-widget">
                        <div class="image-widget">
                            <a href="#">
                                <img src="img/blog-2.jpg" alt="Image of children">
                            </a>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
</div>
