<div class="container">
    <div class="row align-items-center" style="justify-content: center;">
        <div class="col-lg-7">
            <div class="my-content"><h1 id="the-give-hub">The Give Hub</h1>
<h2 id="política-de-cookies">Política de Cookies</h2>
<p>Utilizamos cookies para ayudar a mejorar su experiencia en <a
href="https://thegivehub.com" class="uri">https://thegivehub.com</a>.
Esta política de cookies es parte de la política de privacidad de Simple
Software, Inc., y cubre el uso de cookies entre su dispositivo y nuestro
sitio. También proporcionamos información básica sobre servicios de
terceros que podemos utilizar, quienes también pueden usar cookies como
parte de su servicio, aunque no están cubiertos por nuestra
política.</p>
<p>Si no desea aceptar cookies de nosotros, debe indicar a su navegador
que rechace las cookies de <a
href="https://thegivehub.com">https://thegivehub.com</a>, entendiendo
que es posible que no podamos proporcionarle parte del contenido y
servicios deseados.</p>
<h3 id="qué-es-una-cookie">¿Qué es una cookie?</h3>
<p>Una cookie es un pequeño fragmento de datos que un sitio web almacena
en su dispositivo cuando lo visita, que típicamente contiene información
sobre el sitio web en sí, un identificador único que permite que el
sitio reconozca su navegador web cuando regresa, datos adicionales que
sirven al propósito de la cookie, y la duración de la cookie misma.</p>
<p>Las cookies se utilizan para habilitar ciertas funciones (por
ejemplo, iniciar sesión), para rastrear el uso del sitio (por ejemplo,
análisis), para almacenar sus configuraciones de usuario (por ejemplo,
zona horaria, preferencias de notificaciones), y para personalizar su
contenido (por ejemplo, publicidad, idioma).</p>
<p>Las cookies establecidas por el sitio web que está visitando se
denominan normalmente “cookies de primera parte”, y típicamente solo
rastrean su actividad en ese sitio particular. Las cookies establecidas
por otros sitios y empresas (es decir, terceros) se llaman “cookies de
terceros”, y pueden usarse para rastrearlo en otros sitios web que
utilizan el mismo servicio de terceros.</p>
<h3 id="tipos-de-cookies-y-cómo-las-usamos">Tipos de cookies y cómo las
usamos</h3>
<h4 id="cookies-esenciales">Cookies esenciales</h4>
<p>Las cookies esenciales son cruciales para su experiencia en un sitio
web, permitiendo funciones principales como inicios de sesión de
usuarios, gestión de cuentas, carritos de compras y procesamiento de
pagos. Utilizamos cookies esenciales para habilitar ciertas funciones en
nuestro sitio web.</p>
<h4 id="cookies-de-rendimiento">Cookies de rendimiento</h4>
<p>Las cookies de rendimiento se utilizan para rastrear cómo utiliza un
sitio web durante su visita, sin recopilar información personal sobre
usted. Típicamente, esta información es anónima y se agrega con
información rastreada de todos los usuarios del sitio, para ayudar a las
empresas a comprender los patrones de uso de los visitantes, identificar
y diagnosticar problemas o errores que los usuarios puedan encontrar, y
tomar mejores decisiones estratégicas para mejorar la experiencia
general del sitio web de su audiencia. Estas cookies pueden ser
establecidas por el sitio web que está visitando (primera parte) o por
servicios de terceros. Utilizamos cookies de rendimiento en nuestro
sitio.</p>
<h4 id="cookies-de-funcionalidad">Cookies de funcionalidad</h4>
<p>Las cookies de funcionalidad se utilizan para recopilar información
sobre su dispositivo y cualquier configuración que pueda establecer en
el sitio web que está visitando (como configuraciones de idioma y zona
horaria). Con esta información, los sitios web pueden proporcionarle
contenido y servicios personalizados, mejorados u optimizados. Estas
cookies pueden ser establecidas por el sitio web que está visitando
(primera parte) o por servicios de terceros. Utilizamos cookies de
funcionalidad para características seleccionadas en nuestro sitio.</p>
<h4 id="cookies-de-orientaciónpublicidad">Cookies de
orientación/publicidad</h4>
<p>Las cookies de orientación/publicidad se utilizan para determinar qué
contenido promocional es más relevante y apropiado para usted y sus
intereses. Los sitios web pueden usarlas para entregar publicidad
dirigida o limitar el número de veces que ve un anuncio. Esto ayuda a
las empresas a mejorar la eficacia de sus campañas y la calidad del
contenido que se le presenta. Estas cookies pueden ser establecidas por
el sitio web que está visitando (primera parte) o por servicios de
terceros. Las cookies de orientación/publicidad establecidas por
terceros pueden usarse para rastrearlo en otros sitios web que utilizan
el mismo servicio de terceros. Utilizamos cookies de
orientación/publicidad en nuestro sitio.</p>
<h3 id="cookies-de-terceros-en-nuestro-sitio">Cookies de terceros en
nuestro sitio</h3>
<p>Podemos emplear empresas y personas de terceros en nuestros sitios
web—por ejemplo, proveedores de análisis y socios de contenido.
Otorgamos a estos terceros acceso a información seleccionada para
realizar tareas específicas en nuestro nombre. También pueden establecer
cookies de terceros para entregar los servicios que están
proporcionando. Las cookies de terceros pueden usarse para rastrearlo en
otros sitios web que utilizan el mismo servicio de terceros. Como no
tenemos control sobre las cookies de terceros, estas no están cubiertas
por la política de cookies de Simple Software, Inc.</p>
<h4 id="nuestra-promesa-de-privacidad-sobre-terceros">Nuestra promesa de
privacidad sobre terceros</h4>
<p>Revisamos las políticas de privacidad de todos nuestros proveedores
de terceros antes de contratar sus servicios para asegurar que sus
prácticas se alineen con las nuestras. Nunca incluiremos conscientemente
servicios de terceros que comprometan o violen la privacidad de nuestros
usuarios.</p>
<h3 id="cómo-puede-controlar-o-rechazar-las-cookies">Cómo puede
controlar o rechazar las cookies</h3>
<p>Si no desea aceptar cookies de nosotros, puede indicar a su navegador
que rechace las cookies de nuestro sitio web. La mayoría de los
navegadores están configurados para aceptar cookies por defecto, pero
puede actualizar estas configuraciones para rechazar cookies por
completo, o para notificarle cuando un sitio web está intentando
establecer o actualizar una cookie.</p>
<p>Si navega por sitios web desde múltiples dispositivos, es posible que
necesite actualizar su configuración en cada dispositivo individual.</p>
<p>Aunque algunas cookies pueden bloquearse con poco impacto en su
experiencia de un sitio web, bloquear todas las cookies puede significar
que no pueda acceder a ciertas funciones y contenido en los sitios que
visita.</p>
            </div>
        </div>
    </div>
</div>