        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-img" data-parallax="scroll" data-image-src="/site/img/about.jpg"></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="section-header">
                            <p>Acerca de Nosotros</p>
                            <h2>Simplificando las Donaciones en Blockchain</h2>
                        </div>
                        <div class="about-tab">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#tab-content-1">Acerca de</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-2">Misión</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#tab-content-3">Visión</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="tab-content-1" class="container tab-pane active">
                                   The Give Hub es una plataforma global de financiación colectiva dedicada a conectar a donantes con causas sociales de impacto en comunidades que tradicionalmente han sido excluidas de los servicios financieros globales. Con la rápida difusión de los teléfonos inteligentes y los teléfonos satelitales, incluso en las partes más remotas del mundo, aprovechamos esta conectividad para llevar los beneficios de la financiación colectiva directamente a quienes más lo necesitan. Al utilizar la tecnología blockchain para la transparencia y la seguridad, empoderamos a las personas y organizaciones en regiones desatendidas para recaudar fondos para proyectos vitales, transformando vidas y fomentando el desarrollo sostenible. 
                                </div>
                                <div id="tab-content-2" class="container tab-pane fade">
                                Nuestra misión es aprovechar el poder de la tecnología para cerrar la brecha financiera entre los donantes generosos y las comunidades necesitadas en todo el mundo. Nos esforzamos por empoderar a las personas en áreas históricamente desatendidas brindándoles acceso a oportunidades globales de financiación colectiva, lo que les permite financiar causas sociales que pueden transformar sus vidas y su entorno. A través de The Give Hub, nuestro objetivo es hacer que la financiación colectiva segura, transparente y eficiente sea accesible para todos, independientemente de las barreras geográficas, facilitando así el impacto en el mundo real donde más se necesita.</div>
                                <div id="tab-content-3" class="container tab-pane fade">
                                Imaginamos un mundo en el que cada individuo, sin importar su ubicación o situación económica, tenga la oportunidad de acceder a servicios financieros y asistencia globales. Aprovechando la amplia disponibilidad de teléfonos inteligentes y comunicaciones satelitales, aspiramos a crear una red conectada globalmente donde los beneficios del crowdfunding lleguen incluso a las comunidades más remotas. Nuestra visión es derribar las barreras que tradicionalmente han impedido el acceso igualitario a los recursos financieros, fomentando un mundo donde la tecnología permita que las causas sociales prosperen en todas partes.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


