<div class="container">
    <div class="row align-items-center" style="justify-content: center;">
        <div class="col-lg-7">
            <div class="analytics-content">
                <h2>Analytics</h2>
                <p>Actualmente, el Give Hub se encuentra en su fase inicial de desarrollo y se centra en la creación de la infraestructura básica necesaria para una plataforma de financiación colectiva transparente, segura y eficiente. Nuestros esfuerzos iniciales están dirigidos a configurar la cadena de bloques Stellar y las integraciones de contratos inteligentes de Soroban, así como a establecer asociaciones y marcos de cumplimiento esenciales para operar en regiones remotas de América Latina y África.</p>
                <p>
                Sin una plataforma completamente operativa y una base de usuarios activa, los análisis sobre el comportamiento de los donantes, el impacto de los proyectos y los datos de transacciones aún no están disponibles. Estamos priorizando la implementación de funciones y sistemas clave primero para asegurar que, una vez lanzado, The Give Hub pueda capturar y entregar análisis significativos desde el primer día. Nuestro plan incluye la integración de un marco de análisis integral en el lanzamiento, lo que nos permitirá proporcionar datos esclarecedores sobre el uso de la plataforma, los flujos de financiación y el éxito de los proyectos a nuestras partes interesadas en el futuro cercano.
                </p>
            </div>
        </div>
    </div>
</div>
