        <!-- Donate Start -->
        <div class="donate" data-parallax="scroll" data-image-src="/site/img/donate.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <div class="section-header">
                                <p>Donar Ahora</p>
                                <h2>Tu regalo, su futuro</h2>
                            </div>
                            <div class="donate-text">
                                <p>
                                Tu generosa donación apoyará directamente proyectos de gran impacto que empoderan a comunidades desatendidas en todo el mundo. Al contribuir a través de The Give Hub, estás ayudando a proporcionar recursos esenciales como agua potable, atención médica, educación y más a quienes más lo necesitan. Juntos, podemos derribar barreras y generar un cambio duradero para las personas que tradicionalmente no han tenido acceso a los servicios financieros globales. ¡Gracias por ser parte de este viaje transformador!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="donate-form">
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Nombre" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-custom active">
                                        <input type="radio" name="options" checked> $10
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="options"> $20
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="options"> $30
                                    </label>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Donar Ahora</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Donate End -->
        

