        <!-- Event Start -->
        <div class="event">
            <div class="container">
                <div class="section-header text-center">
                    <p>Próximos Eventos</p>
                    <h2>Prepárate para nuestros próximos eventos benéficos</h2>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="/site/img/event-1.jpg" alt="Image">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i>Diciembre 20, 2024</p>
                                    <p><i class="far fa-clock"></i>12:00 - 6:00pm</p>
                                    <p><i class="fa fa-map-marker-alt"></i>San Francisco, CA</p>
                                </div>
                                <div class="event-text">
                                    <h3>Concierto de la Comunidad Global</h3>
                                    <p>
                                        Únase a nosotros en el Concierto de la Comunidad Global, una vibrante velada de música, danza y presentaciones culturales que celebran la unidad y el apoyo a causas sociales en todo el mundo. Artistas locales e internacionales se unirán para generar conciencia y recaudar fondos para proyectos centrados en el agua potable y la educación primaria en regiones desatendidas. Disfrute de diversas presentaciones, puestos de comida con cocina mundial y puestos interactivos donde puede aprender más sobre las comunidades que apoyamos. Todas las ganancias se destinarán a financiar iniciativas en la plataforma The Give Hub.
                                    </p>
                                    <a class="btn btn-custom" href="register.html">Únete Ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="event-item">
                            <img src="/site/img/event-2.jpg" alt="Image">
                            <div class="event-content">
                                <div class="event-meta">
                                    <p><i class="fa fa-calendar-alt"></i>Enero 15, 2025</p>
                                    <p><i class="far fa-clock"></i>8:00am - 6:00pm</p>
                                    <p><i class="fa fa-map-marker-alt"></i>New York</p>
                                </div>
                                <div class="event-text">
                                    <h3>Maratón por el cambio</h3>
                                    <p>
                                    Sé parte de la Maratón por el Cambio, una carrera benéfica que tiene como objetivo unir a las personas para apoyar proyectos de atención médica y asistencia social en América Latina y África. Ya seas un corredor experimentado o simplemente quieras caminar por una buena causa, hay un lugar para todos. El evento incluye una maratón completa, una media maratón y una carrera de 5 km. Los participantes y espectadores pueden disfrutar de música en vivo, puestos de comida local y una ceremonia de premiación posterior a la carrera. Los fondos recaudados apoyarán directamente las iniciativas de atención médica facilitadas por The Give Hub, que brinda servicios médicos a quienes más los necesitan.
                                    </p>
                                    <a class="btn btn-custom" href="register.html">Únete Ahora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Event End -->


