<div class="container">
    <div class="row align-items-center" style="justify-content: center;">
        <div class="col-lg-7">
            <div class="my-content"><h2 id="política-de-privacidad">Política de Privacidad</h2>
<p>Su privacidad es importante para nosotros. Es política de The Give
Hub respetar su privacidad con respecto a cualquier información que
podamos recopilar de usted a través de nuestro sitio web, <a
href="https://thegivehub.com">https://thegivehub.com</a>, y otros sitios
que poseemos y operamos.</p>
<h3 id="información-que-recopilamos">1. Información que recopilamos</h3>
<h4 id="datos-de-registro">Datos de registro</h4>
<p>Cuando visita nuestro sitio web, nuestros servidores pueden registrar
automáticamente los datos estándar proporcionados por su navegador web.
Esto puede incluir la dirección de Protocolo de Internet (IP) de su
computadora, el tipo y versión de su navegador, las páginas que visita,
la hora y fecha de su visita, el tiempo dedicado a cada página y otros
detalles.</p>
<h4 id="datos-del-dispositivo">Datos del dispositivo</h4>
<p>También podemos recopilar datos sobre el dispositivo que está
utilizando para acceder a nuestro sitio web. Estos datos pueden incluir
el tipo de dispositivo, sistema operativo, identificadores únicos del
dispositivo, configuración del dispositivo y datos de geolocalización.
Lo que recopilamos puede depender de la configuración individual de su
dispositivo y software. Recomendamos verificar las políticas del
fabricante de su dispositivo o proveedor de software para conocer qué
información ponen a nuestra disposición.</p>
<h4 id="información-personal">Información personal</h4>
<p>Podemos solicitar información personal, como: - Nombre - Correo
electrónico - Perfiles de redes sociales</p>
<h3 id="bases-legales-para-el-procesamiento">2. Bases legales para el
procesamiento</h3>
<p>Procesaremos su información personal de manera legal, justa y
transparente. Recopilamos y procesamos información sobre usted solo
cuando tenemos bases legales para hacerlo.</p>
<p>Estas bases legales dependen de los servicios que utilice y cómo los
utilice, lo que significa que recopilamos y utilizamos su información
solo cuando: - es necesario para la ejecución de un contrato del cual
usted es parte o para tomar medidas a su solicitud antes de celebrar
dicho contrato (por ejemplo, cuando proporcionamos un servicio que nos
solicita); - satisface un interés legítimo (que no está anulado por sus
intereses de protección de datos), como para investigación y desarrollo,
para comercializar y promover nuestros servicios, y para proteger
nuestros derechos e intereses legales; - nos da su consentimiento para
hacerlo con un propósito específico (por ejemplo, puede consentir que le
enviemos nuestro boletín informativo); o - necesitamos procesar sus
datos para cumplir con una obligación legal.</p>
<p>Cuando consiente nuestro uso de información sobre usted para un
propósito específico, tiene el derecho de cambiar de opinión en
cualquier momento (pero esto no afectará ningún procesamiento que ya
haya tenido lugar).</p>
<p>No conservamos información personal por más tiempo del necesario.
Mientras conservamos esta información, la protegeremos dentro de medios
comercialmente aceptables para prevenir pérdidas y robos, así como
acceso, divulgación, copia, uso o modificación no autorizados. Sin
embargo, advertimos que ningún método de transmisión o almacenamiento
electrónico es 100% seguro, y no podemos garantizar la seguridad
absoluta de los datos. Si es necesario, podemos retener su información
personal para cumplir con una obligación legal o para proteger sus
intereses vitales o los intereses vitales de otra persona.</p>
<h3 id="recopilación-y-uso-de-información">3. Recopilación y uso de
información</h3>
<p>Podemos recopilar, mantener, usar y divulgar información para los
siguientes propósitos, y la información personal no será procesada
posteriormente de una manera que sea incompatible con estos propósitos:
- para permitirle personalizar o personalizar su experiencia de nuestro
sitio web; - para permitirle acceder y usar nuestro sitio web,
aplicaciones asociadas y plataformas de redes sociales asociadas; - para
contactar y comunicarnos con usted; - para análisis, investigación de
mercado y desarrollo comercial, incluida la operación y mejora de
nuestro sitio web, aplicaciones asociadas y plataformas de redes
sociales asociadas; - para publicidad y marketing, incluido el envío de
información promocional sobre nuestros productos y servicios e
información sobre terceros que consideramos puede ser de su interés; y -
para cumplir con nuestras obligaciones legales y resolver cualquier
disputa que podamos tener.</p>
<h3 id="divulgación-de-información-personal-a-terceros">4. Divulgación
de información personal a terceros</h3>
<p>Podemos divulgar información personal a: - proveedores de servicios
externos con el propósito de permitirles proporcionar sus servicios,
incluidos (sin limitación) proveedores de servicios de TI,
almacenamiento de datos, proveedores de alojamiento y servidores, redes
publicitarias, análisis, registradores de errores, cobradores de deudas,
proveedores de mantenimiento o solución de problemas, proveedores de
marketing o publicidad, asesores profesionales y operadores de sistemas
de pago; y - nuestros empleados, contratistas y/o entidades
relacionadas.</p>
<h3 id="transferencias-internacionales-de-información-personal">5.
Transferencias internacionales de información personal</h3>
<p>La información personal que recopilamos se almacena y procesa en
Estados Unidos, o donde nosotros o nuestros socios, afiliados y
proveedores externos mantengan instalaciones. Al proporcionarnos su
información personal, usted consiente la divulgación a estos terceros en
el extranjero.</p>
<p>Nos aseguraremos de que cualquier transferencia de información
personal desde países en el Área Económica Europea (AEE) a países fuera
del AEE esté protegida por garantías apropiadas, como el uso de
cláusulas estándar de protección de datos aprobadas por la Comisión
Europea, reglas corporativas vinculantes u otros medios legalmente
aceptados.</p>
<p>Cuando transferimos información personal desde un país no
perteneciente al AEE a otro país, usted reconoce que los terceros en
otras jurisdicciones pueden no estar sujetos a leyes de protección de
datos similares a las de nuestra jurisdicción. Existen riesgos si
cualquiera de estos terceros participa en cualquier acto o práctica que
contravendría las leyes de privacidad de datos en nuestra jurisdicción,
lo que podría significar que no podrá buscar reparación bajo las leyes
de privacidad de nuestra jurisdicción.</p>
<h3 id="sus-derechos-y-el-control-de-su-información-personal">6. Sus
derechos y el control de su información personal</h3>
<p><strong>Elección y consentimiento:</strong> Al proporcionarnos
información personal, usted consiente que recopilemos, mantengamos,
usemos y divulguemos su información personal de acuerdo con esta
política de privacidad. Si es menor de 16 años, debe tener, y garantizar
en la medida permitida por la ley, que tiene el permiso de sus padres o
tutores legales para acceder y usar el sitio web, y ellos han consentido
que nos proporcione su información personal. No tiene que
proporcionarnos información personal, pero puede afectar su uso de este
sitio web o los productos y/o servicios ofrecidos en o a través de
él.</p>
<p><strong>Información de terceros:</strong> Si recibimos información
personal sobre usted de un tercero, la protegeremos según lo establecido
en esta política de privacidad. Si usted es un tercero que proporciona
información personal sobre otra persona, declara y garantiza que tiene
el consentimiento de dicha persona para proporcionarnos la información
personal.</p>
<p><strong>Restricción:</strong> Puede optar por restringir la
recopilación o el uso de su información personal. Si previamente ha
aceptado que usemos su información personal para propósitos de marketing
directo, puede cambiar de opinión en cualquier momento contactándonos
usando los detalles a continuación. Si nos solicita restringir o limitar
cómo procesamos su información personal, le informaremos cómo la
restricción afecta su uso de nuestro sitio web o productos y
servicios.</p>
<p><strong>Acceso y portabilidad de datos:</strong> Puede solicitar
detalles de la información personal que mantenemos sobre usted. Puede
solicitar una copia de la información personal que mantenemos sobre
usted. Cuando sea posible, proporcionaremos esta información en formato
CSV u otro formato fácilmente legible por máquina. Puede solicitar que
borremos la información personal que mantenemos sobre usted en cualquier
momento. También puede solicitar que transfiramos esta información
personal a otro tercero.</p>
<p><strong>Corrección:</strong> Si cree que cualquier información que
mantenemos sobre usted es inexacta, desactualizada, incompleta,
irrelevante o engañosa, comuníquese con nosotros usando los detalles a
continuación. Tomaremos medidas razonables para corregir cualquier
información que se encuentre inexacta, incompleta, engañosa o
desactualizada.</p>
<p><strong>Notificación de violaciones de datos:</strong> Cumpliremos
con las leyes aplicables a nosotros con respecto a cualquier violación
de datos.</p>
<p><strong>Quejas:</strong> Si cree que hemos violado una ley relevante
de protección de datos y desea presentar una queja, comuníquese con
nosotros usando los detalles a continuación y proporciónenos todos los
detalles de la presunta violación. Investigaremos rápidamente su queja y
le responderemos por escrito, exponiendo el resultado de nuestra
investigación y los pasos que tomaremos para tratar su queja. También
tiene derecho a contactar a un organismo regulador o autoridad de
protección de datos en relación con su queja.</p>
<p><strong>Cancelar suscripción:</strong> Para cancelar su suscripción
de nuestra base de datos de correo electrónico u optar por no recibir
comunicaciones (incluidas las comunicaciones de marketing), comuníquese
con nosotros usando los detalles a continuación u opte por no participar
usando las instalaciones proporcionadas en la comunicación.</p>
<h3 id="cookies">7. Cookies</h3>
<p>Utilizamos “cookies” para recopilar información sobre usted y su
actividad en nuestro sitio. Una cookie es un pequeño fragmento de datos
que nuestro sitio web almacena en su computadora y accede cada vez que
lo visita, para que podamos entender cómo usa nuestro sitio. Esto nos
ayuda a servirle contenido basado en las preferencias que ha
especificado. Consulte nuestra Política de Cookies para obtener más
información.</p>
<h3 id="transferencias-comerciales">8. Transferencias comerciales</h3>
<p>Si nosotros o nuestros activos son adquiridos, o en el improbable
caso de que quebremos o entremos en bancarrota, incluiríamos datos entre
los activos transferidos a cualquier parte que nos adquiera. Usted
reconoce que tales transferencias pueden ocurrir, y que cualquier parte
que nos adquiera puede continuar usando su información personal de
acuerdo con esta política.</p>
<h3 id="límites-de-nuestra-política">9. Límites de nuestra política</h3>
<p>Nuestro sitio web puede vincular a sitios externos que no operamos
nosotros. Tenga en cuenta que no tenemos control sobre el contenido y
las políticas de esos sitios, y no podemos aceptar responsabilidad u
obligación por sus respectivas prácticas de privacidad.</p>
<h3 id="cambios-en-esta-política">10. Cambios en esta política</h3>
<p>A nuestra discreción, podemos cambiar nuestra política de privacidad
para reflejar las prácticas actuales aceptables. Tomaremos medidas
razonables para informar a los usuarios sobre los cambios a través de
nuestro sitio web. Su uso continuado de este sitio después de cualquier
cambio en esta política será considerado como aceptación de nuestras
prácticas sobre privacidad e información personal.</p>
<p>Si realizamos un cambio significativo en esta política de privacidad,
por ejemplo, cambiar una base legal sobre la cual procesamos su
información personal, le solicitaremos que vuelva a dar su
consentimiento a la política de privacidad modificada.</p>
<p><strong>Controlador de Datos de The Give Hub</strong> Christopher
Robison <a
href="mailto:chris@thegivehub.com">chris@thegivehub.com</a></p>
            </div>
        </div>
    </div>
</div>