        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>Lo que hacemos?</p>
                    <h2>Empoderando la caridad a través de las fronteras</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-diet"></i>
                            </div>
                            <div class="service-text">
                                <h3>Comida Saludable</h3>
                                <p>
                                Facilitamos la financiación colectiva para proyectos que brindan acceso a alimentos nutritivos a comunidades que enfrentan inseguridad alimentaria. Al apoyar iniciativas agrícolas y programas de distribución de alimentos, ayudamos a combatir el hambre y la desnutrición en regiones desatendidas.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-water"></i>
                            </div>
                            <div class="service-text">
                                <h3>Agua Pura</h3>
                                <p>
                                Apoyamos iniciativas que llevan agua potable limpia y segura a zonas que carecen de este recurso vital. Mediante la financiación de la construcción de pozos, sistemas de purificación de agua e instalaciones de saneamiento, ayudamos a garantizar que las comunidades tengan acceso a agua pura.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-healthcare"></i>
                            </div>
                            <div class="service-text">
                                <h3>cuidado de la salud</h3>
                                <p>
                                Facilitamos la financiación de proyectos de atención sanitaria que mejoran el acceso a servicios médicos y tratamientos esenciales. Al apoyar el establecimiento de clínicas, unidades médicas móviles y programas de educación sanitaria, nos esforzamos por mejorar el bienestar de las personas en zonas remotas y desatendidas.    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="service-text">
                                <h3>Educación Primaria</h3>
                                <p>
                                   Impulsamos iniciativas educativas recaudando fondos para escuelas, materiales de aprendizaje y programas de capacitación docente. Nuestras iniciativas ayudan a brindar educación primaria de calidad a niños que de otra manera no tendrían acceso a oportunidades de aprendizaje.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-home"></i>
                            </div>
                            <div class="service-text">
                                <h3>Instalaciones de la residencia</h3>
                                <p>
                               Ayudamos a financiar la construcción y renovación de viviendas seguras y asequibles. Al brindar refugio y estabilidad a quienes no tienen condiciones de vida adecuadas, contribuimos a construir comunidades más fuertes.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="service-text">
                                <h3>Asistencia Social</h3>
                                <p>
                                Asistencia social Apoyamos proyectos de asistencia social que ofrecen asistencia a poblaciones vulnerables, incluidos ancianos, huérfanos y personas afectadas por desastres naturales. A través de estos esfuerzos, pretendemos mejorar la calidad de vida de quienes necesitan apoyo social.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        

