        <!-- Volunteer Start -->
        <div class="volunteer" data-parallax="scroll" data-image-src="/site/img/volunteer.jpg">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5">
                        <div class="volunteer-form">
                            <form>
                                <div class="control-group">
                                    <input type="text" class="form-control" placeholder="Nombre" required="required" />
                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" placeholder="Email" required="required" />
                                </div>
                                <div class="control-group">
                                    <textarea class="form-control" placeholder="¿Por qué quieres ser voluntario?" required="required"></textarea>
                                </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Conviértete en voluntario</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="volunteer-content">
                            <div class="section-header">
                                <p>Conviértete en voluntario</p>
                                <h2>Hagamos una diferencia en la vida de los demás.</h2>
                            </div>
                            <div class="volunteer-text">
                                <p>
                                    Tus habilidades y tu entusiasmo pueden ayudar a transformar comunidades necesitadas. Al trabajar como voluntario en The Give Hub, desempeñarás un papel crucial a la hora de llevar recursos esenciales como agua potable, educación y atención médica a regiones desatendidas. ¡Conviértete en un catalizador del cambio y ayúdanos a cerrar la brecha entre los donantes generosos y las personas que más necesitan su apoyo!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Volunteer End -->
        

