        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    <p>What We Do?</p>
                    <h2>Empowering Charity Across Borders</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-diet"></i>
                            </div>
                            <div class="service-text">
                                <h3>Healthy Food</h3>
                                <p>We facilitate crowdfunding for projects that provide access to nutritious food for communities facing food insecurity. By supporting agricultural initiatives and food distribution programs, we help combat hunger and malnutrition in underserved regions.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-water"></i>
                            </div>
                            <div class="service-text">
                                <h3>Pure Water</h3>
                                <p>We support initiatives that bring clean and safe drinking water to areas lacking this vital resource. Through funding the construction of wells, water purification systems, and sanitation facilities, we help ensure communities have access to pure water.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-healthcare"></i>
                            </div>
                            <div class="service-text">
                                <h3>Health Care</h3>
                                <p>We enable funding for healthcare projects that improve access to medical services and essential treatments. By supporting the establishment of clinics, mobile medical units, and health education programs, we strive to enhance the well-being of people in remote and underserved areas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-education"></i>
                            </div>
                            <div class="service-text">
                                <h3>Primary Education</h3>
                                <p>We empower educational initiatives by raising funds for schools, learning materials, and teacher training programs. Our efforts help provide quality primary education to children who might otherwise lack access to learning opportunities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-home"></i>
                            </div>
                            <div class="service-text">
                                <h3>Residence Facilities</h3>
                                <p>We assist in funding the construction and renovation of safe and affordable housing. By providing shelter and stability to those without adequate living conditions, we contribute to building stronger communities.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="flaticon-social-care"></i>
                            </div>
                            <div class="service-text">
                                <h3>Social Care</h3>
                                <p>We support social care projects that offer assistance to vulnerable populations, including the elderly, orphans, and individuals affected by natural disasters. Through these efforts, we aim to improve the quality of life for those in need of social support.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Service End -->
        

