        <!-- Team Start -->
        <div class="team">
            <div class="container">
                <div class="section-header text-center">
                    <p>Meet Our Team</p>
                    <h2>Awesome guys behind our charity activities</h2>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/chris.png" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Christopher Robison</h2>
                                <p>Founder / CEO</p>
                            </div>
                            <div class="team-social">
                                <a href="https://x.com/thechrisrobison"><i class="fab fa-twitter"></i></a>
                                <a href="https://facebook.com/thechrisrobison"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://linkedin.com/in/crobison"><i class="fab fa-linkedin-in"></i></a>
                                <a href="https://instagram.com/thechrisrobison"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/kevin.png" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Kevin Ready</h2>
                                <p>Founder / CTO</p>
                            </div>
                            <div class="team-social">
                                <a href="https://x.com/kevintweets"><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/danny.png" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Danial Kanaan</h2>
                                <p>Founder</p>
                            </div>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="img/heath.jpg" alt="Team Image">
                            </div>
                            <div class="team-text">
                                <h2>Heath Kornblum</h2>
                                <p>Founder</p>
                           </div>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Team End -->

