                    <div class="col-lg-4">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="%%post_image%%" alt="Image">
                            </div>
                            <div class="blog-text">
                                <h2><a href="%%url%%">%%title%%</a></h2>
                                <h3><a href="%%url%%">%%subtitle%%</a></h3>
                                <p>
                                    %%excerpt%%
                                </p>
                            </div>
                            <div class="blog-meta">
                                <p><i class="fa fa-user"></i><a href="#">Chris</a></p>
                                <p><i class="fa fa-comments"></i><a href="#">0 Comments</a></p>
                            </div>
                        </div>
                    </div>
