<div class="container">
    <div class="row align-items-center" style="justify-content: center;">
        <div class="col-lg-7">
            <div class="analytics-content">
                <h2>Analytics</h2>
                 <p>The Give Hub is currently in its early development phase, focusing on
                building the foundational infrastructure necessary for a transparent,
                secure, and efficient crowdfunding platform. Our initial efforts are
                directed toward setting up the Stellar blockchain and Soroban smart
                contract integrations, as well as establishing partnerships and
                compliance frameworks essential for operating in remote regions of Latin
                America and Africa.</p>
                <p>Without a fully operational platform and active user base, analytics
                on donor behavior, project impact, and transaction data are not yet
                available. We are prioritizing the implementation of key features and
                systems first to ensure that, once launched, The Give Hub can capture
                and deliver meaningful analytics from day one. Our plan includes
                integrating a comprehensive analytics framework upon launch, allowing us
                to provide insightful data on platform usage, funding flows, and project
                success to our stakeholders in the near future.</p>
            </div>
        </div>
    </div>
</div>
