        <!-- Causes Start -->
        <div class="causes">
            <div class="container">
                <div class="section-header text-center">
                    <p>Popular Causes</p>
                    <h2>Here are some of the most popular charity causes around the world.</h2>
                </div>
                <div class="owl-carousel causes-carousel">                    <div class="causes-item">
                        <div class="causes-img">
                            <img src="/site/img/causes-0.jpg" alt="Image">
                        </div>
                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span>0%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Raised:</strong> $0</p>
                                <p><strong>Goal:</strong> $100000</p>
                            </div>
                        </div>
                        <div class="causes-text">
                            <h3>Test Campaign 191</h3>
                            <p>Demonstration</p>
                        </div>
                        <div class="causes-btn">
                            <a class="btn btn-custom" href="https://app.thegivehub.com/campaign.html?id=67fef5822ef4f90d370f7332">Learn More</a>
                            <a class="btn btn-custom" hfre="https://app.thegivehub.com/donatenow.html?id=67fef5822ef4f90d370f7332">Donate Now</a>
                        </div>
                    </div>                    <div class="causes-item">
                        <div class="causes-img">
                            <img src="/site/img/causes-1.jpg" alt="Image">
                        </div>
                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span>0%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Raised:</strong> $0</p>
                                <p><strong>Goal:</strong> $100000</p>
                            </div>
                        </div>
                        <div class="causes-text">
                            <h3>Test Campaign 190</h3>
                            <p>demo</p>
                        </div>
                        <div class="causes-btn">
                            <a class="btn btn-custom" href="https://app.thegivehub.com/campaign.html?id=67fecb6da116c7c92a0cc362">Learn More</a>
                            <a class="btn btn-custom" hfre="https://app.thegivehub.com/donatenow.html?id=67fecb6da116c7c92a0cc362">Donate Now</a>
                        </div>
                    </div>                    <div class="causes-item">
                        <div class="causes-img">
                            <img src="/site/img/causes-2.jpg" alt="Image">
                        </div>
                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span>0%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Raised:</strong> $0</p>
                                <p><strong>Goal:</strong> $10000</p>
                            </div>
                        </div>
                        <div class="causes-text">
                            <h3>My Campaign 180</h3>
                            <p>Demonstration</p>
                        </div>
                        <div class="causes-btn">
                            <a class="btn btn-custom" href="https://app.thegivehub.com/campaign.html?id=67fe56115acdf2e6da0253f2">Learn More</a>
                            <a class="btn btn-custom" hfre="https://app.thegivehub.com/donatenow.html?id=67fe56115acdf2e6da0253f2">Donate Now</a>
                        </div>
                    </div>                    <div class="causes-item">
                        <div class="causes-img">
                            <img src="/site/img/causes-3.jpg" alt="Image">
                        </div>
                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span>0%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Raised:</strong> $0</p>
                                <p><strong>Goal:</strong> $10000</p>
                            </div>
                        </div>
                        <div class="causes-text">
                            <h3>My Project 170</h3>
                            <p>Demonstration</p>
                        </div>
                        <div class="causes-btn">
                            <a class="btn btn-custom" href="https://app.thegivehub.com/campaign.html?id=67fdb63a33c53f3f81065502">Learn More</a>
                            <a class="btn btn-custom" hfre="https://app.thegivehub.com/donatenow.html?id=67fdb63a33c53f3f81065502">Donate Now</a>
                        </div>
                    </div>                    <div class="causes-item">
                        <div class="causes-img">
                            <img src="/site/img/causes-4.jpg" alt="Image">
                        </div>
                        <div class="causes-progress">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                                    <span>0%</span>
                                </div>
                            </div>
                            <div class="progress-text">
                                <p><strong>Raised:</strong> $0</p>
                                <p><strong>Goal:</strong> $10000</p>
                            </div>
                        </div>
                        <div class="causes-text">
                            <h3>My Project</h3>
                            <p>demonstration</p>
                        </div>
                        <div class="causes-btn">
                            <a class="btn btn-custom" href="https://app.thegivehub.com/campaign.html?id=67fd9bb67f5b400875040c02">Learn More</a>
                            <a class="btn btn-custom" hfre="https://app.thegivehub.com/donatenow.html?id=67fd9bb67f5b400875040c02">Donate Now</a>
                        </div>
                    </div>                </div>
            </div>
        </div>
        <!-- Causes End -->