        <!-- Donate Start -->
        <div class="donate" data-parallax="scroll" data-image-src="/site/img/donate.jpg">
            <div class="container">
                <div class="row align-items-top">
                    <div class="col-lg-7">
                        <div class="donate-content">
                            <div class="section-header">
                                <p>Donate Now</p>
                                <h2>Your Gift, Their Future.</h2>
                            </div>
                            <div class="donate-text">
                                <p>
                                    Your generous donation will directly support impactful projects that empower underserved communities around the world. By contributing through The Give Hub, you're helping to provide essential resources like clean water, healthcare, education, and more to those who need it most. Together, we can break down barriers and bring lasting change to people who have traditionally lacked access to global financial services. Thank you for being a part of this transformative journey! 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="donate-form">
                            <form action="/api.php" method="POST" onsubmit="return app.donate(event)">
                                <input type="hidden" name="form_type" value="donor">
                                <div class="control-group">
                                    <input type="text" style="width:49%;display:inline-block;" class="form-control" id="first_name" name="first_name" placeholder="First Name" required="required" />
                                    <input type="text" style="width:49%;display:inline-block;" class="form-control" id="last_name" name="last_name" placeholder="Last Name" required="required" />

                                </div>
                                <div class="control-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required="required" />
                                </div>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-custom active">
                                        <input type="radio" name="amount" checked value="10"> $10
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="amount" value="25"> $25
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="amount" value="100"> $100
                                    </label>
                                    <label class="btn btn-custom">
                                        <input type="radio" name="amount" value="other"> Other
                                    </label>
                                 </div>
                                <div>
                                    <button class="btn btn-custom" type="submit">Donate Now</button>
                                </div>
                                <img src="/img/qrcode.png" width="100%">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Donate End -->
        

