<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Give Hub - Blockchain Charity Simplified</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="keywords" name="crowdfund,gofundme,charity,social causes,stellar,blockchain">
        <meta content="description" name="The Give Hub is a blockchain backed crowdfunding platform designed to make running campaigns and donating simple and easy to use.">

        <!-- Favicon -->
        <link href="/img/favicon.svg" type="image/svg+xml" rel="icon">

        <!-- Google Font -->
        <link href="/css/quicksand.css" rel="stylesheet">
        
        <!-- CSS Libraries -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/lib/fontawesome/css/all.min.css" rel="stylesheet">
        <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet">
        <link href="/lib/animate/animate.min.css" rel="stylesheet">
        <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

        <!-- Template Stylesheet -->
        <link href="/css/style.css" rel="stylesheet">

    </head>

    <body>

 
