        <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>        
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <video controls width="560" height="315" autoplay >
                                <source src="/img/givehub-revolution.mp4" type="video/mp4" />
                                Download the <a href="/media/cc0-videos/flower.mp4">MP4</a> video.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <!-- Video Modal End -->
 
